#myCanvas {
    background-color: black;
    cursor: crosshair;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    border: 10px solid rgb(115, 110, 110);
    border-radius: 20px;
}
.button-area{
    display: flex;
    justify-content:space-around;
    padding: 10px 20px;
}

.prediction{

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}




.button {
    background-color: rgb(12, 5, 88); /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/* Hover effect for the button */
.button:hover {
    background-color: #45a049; /* Darker green */
}